*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-car-body: #f06043;
    --color-bg-1: #e4ffff;
}
html{
    height: 100%;
}
body{
    background-image: linear-gradient(to top,#88d6e7
    30%,#e4ffff 20%);
}